In [16]:
import pandas as pd

In [21]:
df = pd.read_csv(r"C:\Users\Rishabh Maurya\Downloads\diabetes.csv")

In [22]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,500,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,102,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [24]:
df.ndim

2

In [25]:
df.shape

(768, 9)

In [34]:
# Its 768*9
df.size

6912

In [35]:
df["BMI"].value_counts()

32.0    13
31.6    12
31.2    12
0.0     11
32.4    10
        ..
36.7     1
41.8     1
42.6     1
42.8     1
46.3     1
Name: BMI, Length: 248, dtype: int64

In [36]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,500,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,102,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [39]:
#iloc[rows,columns]
df.iloc[:5,1:]

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,500,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,102,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1

In [49]:
a=" Hello ABBBBBB vvvvvvvv"
a

' Hello ABBBBBB vvvvvvvv'

In [46]:
a.capitalize()

' hello abbbbbb vvvvvvvv'

In [42]:
a.lower()

' hello abbbbbb vvvvvvvv'

In [43]:
a.upper()

' HELLO ABBBBBB VVVVVVVV'

In [44]:
# In casefold 
a.casefold()

' hello abbbbbb vvvvvvvv'

In [45]:
a.title()

' Hello Abbbbbb Vvvvvvvv'

In [50]:
a="Aanchal Maurya"
a.split()

['Aanchal', 'Maurya']

In [54]:
a.endswith("a")

True

In [58]:
# to find any number that is Indian we can use this in database
a.startswith("91")

False

In [57]:
a.islower()

False

In [60]:
a.isupper()

False

In [62]:
a.isdecimal()

False

In [63]:
a.isalpha()

False

In [64]:
a.istitle()

True

In [65]:
a.isidentifier()

False

In [66]:
a.isspace()

False